@model IEnumerable<string>

<h3>Results</h3>
<ul>
    @foreach (var r in Model)
    {
        <li>@r</li>

    }
</ul>

<p>See reference for <a href="http://en.wikipedia.org/wiki/Intersection_%28Euclidean_geometry%29">Intersection</a>, <a href="http://en.wikipedia.org/wiki/Subset">Containment</a>, <a href="http://math.stackexchange.com/a/4121">Adjacency</a>, <a href="http://en.wikipedia.org/wiki/Congruence_(geometry)">Congruence</a>, <a href="http://en.wikipedia.org/wiki/Similarity_(geometry)">Similarity</a></p> 